/* General styling for the entire body of the resume site*/
body {
  margin: 0;
  padding: 0;
  background-color: #BF8F84;
  font-family: 'raleway', 'sans';
  color: #F2E0D0;
}

/* css styling for the header section which is made up of the navbar & the hero section)*/
.navbar {
  background-color: #A65362;
  opacity: 0.9;
}

.navbar-light .navbar-nav .nav-link {
  color: #F2E0D0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #BF8F84;
  font-family: 'raleway', 'sans';
  font-weight: 100;
}

.dropdown-item {
  color: #A65362;
}

#brandName {
  font-weight: 100;
  font-size: 2rem;
  color: #F2E0D0;
}

#hero {
  background-image: url(../images/heroPic.jpg);
  background-size: cover;
  background-color: #F2E0D0;
  padding-top: 5%;
  padding-bottom: 5.5%;
}

span {
  color: #A65362;
}

#intro {
  font-weight: 700;
  font-size: 400%;
  color: #BF8F84;
  animation-name: introMove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

/*animation styling below*/
@keyframes introMove {
  0% {
    transform: scale(100%);
    transition: ease-in-out;
  }

  50% {
    transform: scale(99%);
    transition: ease-in-out;
  }

  100% {
    transform: scale(98%);
    transition: ease-in-out;
  }
}

/* styling for the about section. This includes the profile pic*/
#profilePic {
  border-radius: 45% 45% 0% 0%;
  width: 70%;
  height: 70%;
}

#aboutMe {
  background-color: #A65362;
}

/*styles h3 elements throughout the resume*/
h3 {
  font-size: 110%;
  font-weight: 900;
}

/* styling for the experience section of the resume. This inlcudes the carousel component from bootstrap*/
.carousel-caption {
  color: #A65362;
}

#experience {
  background-color: #F2E0D0;
  color: #BF8F84;
}

/* stuling for the education & skills sections. This includes the card component from boostrap*/
#education {
  background-color: #A65362;
}

div.card {
  color: #A65362;
  background-color: #F2E0D0;
  border-color: #F2E0D0;
}

.list-group-item {
  color: #A65362;
  background-color: #F2E0D0;
  border-color: #BF8F84;
}

#skills {
  background-color: #F2E0D0;
  color: #BF8F84;
}

/* styling for the footer & conatct section. This includes the form component from bootsrap as well as the social media section and also has a model at the bottom of the footer*/

form {
  border: #F2E0D0 1px solid;
  background-color: #F2E0D0;
}

.contactIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 40%;
  transition: 0.5s;
}

.contactIcon:hover {
  background-color: #F2E0D0;
}

#contactButton {
  color: #F2E0D0;
  background-color: #A65362;
  border: none;
  transition: 0.3s;
}

#contactButton:hover {
  color: #A65362;
  background-color: #BF8F84;
  border: #BF8F84 solid 1px;
}

.form-label {
  color: #A65362;
}

footer {
  background-color: #A65362;
  text-align: end;
}

#bottomLink {
  color: #F2E0D0;
  font-size: medium;
  text-decoration: none;
  transition: 0.3s;
}

#bottomLink:hover {
  color: #BF8F84;
}

/*modal styling*/
.btn-primary {
  color: #A65362;
  background-color: #F2E0D0;
  border-color: #F2E0D0;
}

.btn-primary:hover {
  color: #F2E0D0;
  background-color: #BF8F84;
  border-color: #BF8F84;
}

#staticBackdropLabel {
  color: #A65362;
}

#staticBackdropBody {
  color: #A65362;
}

/* styling for some elemensts that require responsive changes for various viewports*/

@media screen and (max-width: 992px) {
  #profilePic {
    border-radius: 15% 15% 15% 15%;
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 768px) {
  #intro {
    font-weight: 700;
    font-size: 300%;
  }

  #profilePic {
    border-radius: 15% 15% 15% 15%;
    width: 50%;
    height: 50%;
  }
}


@media screen and (max-width: 576px) {
  #intro {
    font-weight: 700;
    font-size: 250%;
  }

  #profilePic {
    border-radius: 15% 15% 15% 15%;
    width: 50%;
    height: 50%;
  }
}